.align-justify {
    text-align: justify;
}
.align-center {
    text-align: center;
}
.no-margin {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.resume-subtitle {
    margin-top: -5px;
    margin-bottom: 0;
    font-size: 12px;
}
.menu-nav {
    width: 100%;
    text-align: center;
}
.menu-nav .nav-item {
    margin: 7px;
    border-bottom: none;
}
.menu-nav .nav-item-footer {
    border-bottom: none;
}