<main>
            <header>
                <h1>Pagina web de Máster Vitronic</h1>
            </header>
            <h2>Recurso no encontrado</h2>
<pre style="text-align:center;"><code>
 _  _    ___  _  _   
| || |  / _ \| || |  
| || |_| | | | || |_ 
|__   _| |_| |__   _|
   |_|  \___/   |_|  
command not found
</code></pre>
    </main>