<main>
            <header>
                <h1>Bitácora de Máster Vitronic</h1>
            </header>
                <article itemscope itemtype="http://schema.org/CreativeWork">
                    <header>
                        <h2 itemprop="name">
                            <a href="https://vitronic.me/posts/1/">Primera publicación</a>
                        </h2>
                        <p class="muted">
                            <svg style="margin-bottom:-3px" class="i-clock" viewBox="0 0 32 32" width="16" height="16" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="6.25%">
                                        <circle cx="16" cy="16" r="14" />
                                        <path d="M16 8 L16 16 20 20" />
                            </svg>
                            <span>8 minutos de lectura</span>
                            <svg style="margin-bottom: -3px" class="i-edit" viewBox="0 0 32 32" width="16" height="16" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="6.25%">
                                        <path d="M30 7 L25 2 5 22 3 29 10 27 Z M21 6 L26 11 Z M5 22 L10 27 Z" />
                            </svg> Publicado: <time datetime="2018-08-18T00:00:00&#43;00:00">18 Ago, 2018</time>
                        </p>
                    </header>
                    <div itemprop="description" class="align-justify">
                        Introducción Este tutorial le mostrará cómo crear un tema simple. Asumo que está familiarizado con HTML, la línea de comandos bash, y que se siente cómodo usando Markdown para formatear el contenido. Le explicaré cómo Hugo utiliza las plantillas y cómo puede organizarlas para crear un tema. No cubriré el uso de CSS para darle estilo a tu tema. Comenzaremos con la creación de un nuevo sitio con una plantilla muy básica.
                    </div>
                    <nav class="readmore"><a itemprop="url" href="#">Leer Mas&nbsp;&raquo;</a></nav>
                    <meta itemprop="inLanguage"    content="ES_es">
                    <meta itemprop="datePublished" content="2018-08-18T00:00:00&#43;00:00">
                    <meta itemprop="dateModified"  content="2018-08-18T00:00:00&#43;00:00">
                </article>
                <article itemscope itemtype="http://schema.org/CreativeWork">
                    <header>
                        <h2 itemprop="name">
                            <a href="https://vitronic.me/posts/1/">Segunda publicación</a>
                        </h2>
                        <p class="muted">
                            <svg style="margin-bottom:-3px" class="i-clock" viewBox="0 0 32 32" width="16" height="16" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="6.25%">
                                        <circle cx="16" cy="16" r="14" />
                                        <path d="M16 8 L16 16 20 20" />
                            </svg>
                            <span>8 minutos de lectura</span>
                            <svg style="margin-bottom: -3px" class="i-edit" viewBox="0 0 32 32" width="16" height="16" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="6.25%">
                                        <path d="M30 7 L25 2 5 22 3 29 10 27 Z M21 6 L26 11 Z M5 22 L10 27 Z" />
                            </svg> Publicado: <time datetime="2018-08-18T00:00:00&#43;00:00">18 Ago, 2018</time>
                        </p>
                    </header>
                    <div itemprop="description" class="align-justify">
                        Introducción Este tutorial le mostrará cómo crear un tema simple . Asumo que está familiarizado con HTML, la línea de comandos bash, y que se siente cómodo usando Markdown para formatear el contenido. Le explicaré cómo Hugo utiliza las plantillas y cómo puede organizarlas para crear un tema. No cubriré el uso de CSS para darle estilo a tu tema. Comenzaremos con la creación de un nuevo sitio con una plantilla muy básica.
                    </div>
                    <nav class="readmore"><a itemprop="url" href="#">Leer Mas&nbsp;&raquo;</a></nav>
                    <meta itemprop="inLanguage"    content="ES_es">
                    <meta itemprop="datePublished" content="2018-08-18T00:00:00&#43;00:00">
                    <meta itemprop="dateModified"  content="2018-08-18T00:00:00&#43;00:00">
                </article>
            </main>