<main>
    <article itemscope itemtype="http://schema.org/BlogPosting" id="{{url}}">
        <meta itemprop="name"             content="{{{title}}}">
        <meta itemprop="description"      content="{{description}}">
        <meta itemprop="datePublished"    content="{{datePublished}}" />
        <meta itemprop="dateModified"     content="{{dateModified}}" />
        <meta itemprop="wordCount"        content="{{wordCount}}">
        <meta itemprop="image"            content="https://vitronic.me/img/Master-Vitronic.png">
        <meta itemprop="mainEntityOfPage" content="{{{site_url}}}/{{url}}"/>
        <meta itemprop="url"              content="{{{site_url}}}/{{url}}" />
        <div style="display: none;" itemprop="author" itemscope itemtype="https://schema.org/Person">
            <meta itemprop="url"    content="{{{site_url}}}" />
            <meta itemprop="name"   content="{{{author}}}" />
            <meta itemprop="image"  content="https://vitronic.me/img/Master-Vitronic.png" />
        </div>
        <div style="display: none;" itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
            <meta itemprop="name" content="{{author}}" />
            <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
                <meta itemprop="url" content="https://vitronic.me/img/Master-Vitronic.png" />
            </div>
        </div>
       <!--<meta itemprop="keywords"         content="go,golang,hugo,development," /> -->
        <header>
            <h1 itemprop="headline">{{{title}}}</h1>
            <p class="muted">
                <svg style="margin-bottom:-3px" class="i-clock" viewBox="0 0 32 32" width="16" height="16" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="6.25%">
                    <circle cx="16" cy="16" r="14" />
                    <path d="M16 8 L16 16 20 20" />
                </svg>
                <span>{{readingTime}} de lectura</span>
                <svg style="margin-bottom: -3px" class="i-edit" viewBox="0 0 32 32" width="16" height="16" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="6.25%">
                    <path d="M30 7 L25 2 5 22 3 29 10 27 Z M21 6 L26 11 Z M5 22 L10 27 Z" />
                </svg> Publicado: <time datetime="{{datePublished}}">{{humanDate}}</time>
            </p>
        </header>
        <div itemprop="articleBody">
            {{{articleBody}}}
        </div>
        <hr>
        <p>
            Publicado por
            <span><a href="/resume">{{author}}</a></span> el
            <time>{{humanDate}}</time>
            {{#in_category}}
                 en
                <span itemprop="articleSection">
                {{#category}}
                   <a href="">{{category}}</a>,
                {{/category}}
                </span>
            {{/in_category}}
             {{#in_tag}}
                y etiquetado como
                 {{#tag}}
                <a href="">{{tag}}</a>,
                {{/tag}}
            {{/in_tag}}
             se usaron 
            <span>{{wordCount}}</span> palabras.
        </p>       
<!--
        <aside>
            <header>Contenido Relacionado:</header>
            <ul>
                <li>
                    <a href="">(Hu)go Template Primer</a>
                </li>
                <li>
                    <a href="">(Hu)go Template Primer</a>
                </li>
            </ul>
        </aside>       
-->
    </article>
        <hr>
        {{#warningExists}}
            {{#warnings}}
                <div class="alert alert-error">{{warning}}</div>
            {{/warnings}}
        {{/warningExists}}
        <a name="new_comment"></a>
        <form class="" action="#new_comment" method="post">      
          <fieldset class="">
            <label for="name">NOMBRE:</label>
            <input id="name" name="name" type="text" placeholder="Escriba su nombre" value="{{{name}}}" class="form-control" style="width: 100%;">
          </fieldset>
          <fieldset class="" style="margin-top: 10px;">
            <label for="comment">MENSAJE:</label>
            <textarea id="comment" name="comment" value="{{{commentPost}}}" placeholder="Escriba su mensaje" rows="5" class="form-control" style="width: 100%;">{{{commentPost}}}</textarea>
          </fieldset >
          <div class="grid -right" style="margin-top: 20px;">
            <a href="/posts" class="btn btn-primary">Volver</a>
            <button type="submit" class="btn btn-success">Enviar</button>
          </div>
          <input type="hidden" name="id_post" id="id_post" value="{{id_post}}"/>
        </form>
        {{#in_comment}}
        <hr>
        <h4>Comentarios</h4>
        {{#comment}}
        <div class="" style="margin-top: 20px;">
            <div class="media">
                <div class="media-left">
                    <div class="avatarholder">{{initial}}</div>
                </div>
                <div class="media-body">
                    <div class="media-heading">{{name}}</div>
                    <span class="resume-subtitle">{{datePublished}}</span>
                    <div class="media-content">{{comment}}</div>
                </div>
            </div>
        </div>                
        {{/comment}}
        {{/in_comment}}
        </main>