<main>
            <header>
                <h1>Resumen Curricular de Máster Vitronic</h1>
            </header>
            <section >
                <header>
                    <h2>Resumen</h2>
                </header>
                <!--Nombre y Direccion-->
                <section class="grid media" itemscope itemtype="http://schema.org/Person">                           
                          <div class="cell -4of12">
                            <div class="content">
                                <img itemprop="image" src="/img/Master-Vitronic.png" alt="Foto">
                            </div>
                          </div>
                          <div class="cell -12of12">
                            <div class="content">
                                <div class="alert alert-info align-center">
                                    <span itemprop="name">Díaz Devera Víctor Diex Gamar</span>
                                    <br>
                                    <span itemprop="jobTitle">Software and Electronics Engineer</span>
                                </div>
                                <div class="alert alert-success">
                                  <ul class="no-margin" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                                    <li>
                                        <svg style="margin-bottom:-3px" width="16" height="16" viewBox="0 0 48 48" fill="#ffffff">
                                            <path d="M24 4c-7.72 0-14 6.28-14 14 0 10.5 14 26 14 26s14-15.5 14-26c0-7.72-6.28-14-14-14zm8 16h-6v6h-4v-6h-6v-4h6v-6h4v6h6v4z"/>
                                        </svg>
                                        <span itemprop="streetAddress">Avenida Valmore Rodríguez</span>, <span itemprop="addressLocality">Upata</span>, <span itemprop="addressRegion">Bolívar</span>
                                    </li>
                                    <li>
                                        <svg style="margin-bottom:-3px" width="16" height="16" viewBox="0 0 48 48" fill="#ffffff">
                                            <path d="M24 4C12.95 4 4 12.95 4 24s8.95 20 20 20 20-8.95 20-20S35.05 4 24 4zm-2 35.86C14.11 38.88 8 32.16 8 24c0-1.23.15-2.43.42-3.58L18 30v2c0 2.21 1.79 4 4 4v3.86zm13.79-5.07C35.28 33.17 33.78 32 32 32h-2v-6c0-1.1-.9-2-2-2H16v-4h4c1.1 0 2-.9 2-2v-4h4c2.21 0 4-1.79 4-4v-.83c5.86 2.37 10 8.11 10 14.83 0 4.16-1.6 7.94-4.21 10.79z"/>
                                        </svg>
                                        <span itemprop="addressCountry">Venezuela</span>
                                    </li>                                    
                                  </ul>
                                  <ul class="no-margin">
                                    <li>
                                        <svg style="margin-bottom:-3px" width="16" height="16" viewBox="0 0 48 48" fill="#ffffff">
                                            <path d="M13.25 21.59c2.88 5.66 7.51 10.29 13.18 13.17l4.4-4.41c.55-.55 1.34-.71 2.03-.49C35.1 30.6 37.51 31 40 31c1.11 0 2 .89 2 2v7c0 1.11-.89 2-2 2C21.22 42 6 26.78 6 8c0-1.11.9-2 2-2h7c1.11 0 2 .89 2 2 0 2.49.4 4.9 1.14 7.14.22.69.06 1.48-.49 2.03l-4.4 4.42z"/>
                                        </svg>
                                        <span itemprop="telephone">+58 288 442 0387</span>

                                        <svg style="margin-bottom:-3px" width="16" height="16" viewBox="0 0 24 24" fill="#ffffff">
                                            <path id="telegram-1" d="M18.384,22.779c0.322,0.228 0.737,0.285 1.107,0.145c0.37,-0.141 0.642,-0.457 0.724,-0.84c0.869,-4.084 2.977,-14.421 3.768,-18.136c0.06,-0.28 -0.04,-0.571 -0.26,-0.758c-0.22,-0.187 -0.525,-0.241 -0.797,-0.14c-4.193,1.552 -17.106,6.397 -22.384,8.35c-0.335,0.124 -0.553,0.446 -0.542,0.799c0.012,0.354 0.25,0.661 0.593,0.764c2.367,0.708 5.474,1.693 5.474,1.693c0,0 1.452,4.385 2.209,6.615c0.095,0.28 0.314,0.5 0.603,0.576c0.288,0.075 0.596,-0.004 0.811,-0.207c1.216,-1.148 3.096,-2.923 3.096,-2.923c0,0 3.572,2.619 5.598,4.062Zm-11.01,-8.677l1.679,5.538l0.373,-3.507c0,0 6.487,-5.851 10.185,-9.186c0.108,-0.098 0.123,-0.262 0.033,-0.377c-0.089,-0.115 -0.253,-0.142 -0.376,-0.064c-4.286,2.737 -11.894,7.596 -11.894,7.596Z"/>
                                        </svg>
                                        <span itemprop="telephone">&#64;&#77;&#97;&#115;&#116;&#101;&#114;&#95;&#86;&#105;&#116;&#114;&#111;&#110;&#105;&#99;</span>
                                    </li>
                                    <li>
                                        <svg style="margin-bottom:-3px" width="16" height="16" viewBox="0 0 48 48" fill="#ffffff">
                                            <path d="M40 8H8c-2.21 0-3.98 1.79-3.98 4L4 36c0 2.21 1.79 4 4 4h32c2.21 0 4-1.79 4-4V12c0-2.21-1.79-4-4-4zm0 8L24 26 8 16v-4l16 10 16-10v4z"/>
                                        </svg>
                                        <span itemprop="email">&#109;&#97;&#115;&#116;&#101;&#114;&#118;&#105;&#116;&#114;&#111;&#110;&#105;&#99;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;</span>
                                    </li>
                                    <li>
                                        <svg style="margin-bottom:-3px" width="16" height="16" viewBox="0 0 48 48" fill="#ffffff">
                                            <path d="M24 4C12.95 4 4 12.95 4 24s8.95 20 20 20 20-8.95 20-20S35.05 4 24 4zm-2 35.86C14.11 38.88 8 32.16 8 24c0-1.23.15-2.43.42-3.58L18 30v2c0 2.21 1.79 4 4 4v3.86zm13.79-5.07C35.28 33.17 33.78 32 32 32h-2v-6c0-1.1-.9-2-2-2H16v-4h4c1.1 0 2-.9 2-2v-4h4c2.21 0 4-1.79 4-4v-.83c5.86 2.37 10 8.11 10 14.83 0 4.16-1.6 7.94-4.21 10.79z"/>
                                        </svg>
                                        <span itemprop="url">https://vitronic.me/</span>
                                    </li>
                                  </ul>
                                </div>
                            </div>
                          </div>
                </section>
                <!--Habilidades-->
                <section class="grid media" itemscope itemtype="http://schema.org/ItemList">
                          <div class="cell -4of12">
                            <div class="content">
                                <span itemprop="name">Habilidades:</span>
                            </div>
                          </div>
                          <div class="cell -12of12">
                            <div class="content alert alert-success">
                                <div class="grid">
                                    <ul class="cell -6of12 no-margin">
                                        <li>
                                          <div itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                            <span itemprop="position">1</span>
                                            <span itemprop="item" itemscope itemtype="http://schema.org/ItemList">
                                              <a href="#php" itemprop="url">
                                                 <span itemprop="name" id="php">PHP</span>
                                              </a>
                                            </span>
                                          </div>
                                        </li>
                                        <li>
                                          <div itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                            <span itemprop="position">2</span>
                                            <span itemprop="item" itemscope itemtype="http://schema.org/ItemList">
                                              <a href="#javascript" itemprop="url">
                                                 <span itemprop="name" id="javascript">Javascript</span>
                                              </a>
                                            </span>
                                          </div>
                                        </li>
                                        <li>
                                          <div itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                            <span itemprop="position">3</span>
                                            <span itemprop="item" itemscope itemtype="http://schema.org/ItemList">
                                              <a href="#lua" itemprop="url">
                                                 <span itemprop="name" id="lua">Lua</span>
                                              </a>
                                            </span>
                                          </div>
                                        </li>

                                        <li>
                                          <div itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                            <span itemprop="position">4</span>
                                            <span itemprop="item" itemscope itemtype="http://schema.org/ItemList">
                                              <a href="#PostgreSQL" itemprop="url">
                                                 <span itemprop="name" id="PostgreSQL">PostgreSQL</span>
                                              </a>
                                            </span>
                                          </div>
                                        </li>
                                        <li>
                                          <div itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                            <span itemprop="position">5</span>
                                            <span itemprop="item" itemscope itemtype="http://schema.org/ItemList">
                                              <a href="#SQLite" itemprop="url">
                                                 <span itemprop="name" id="SQLite">SQLite</span>
                                              </a>
                                            </span>
                                          </div>
                                        </li>
                                        <li>
                                          <div itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                            <span itemprop="position">6</span>
                                            <span itemprop="item" itemscope itemtype="http://schema.org/ItemList">
                                              <a href="#MySQL" itemprop="url">
                                                 <span itemprop="name" id="MySQL">MySQL</span>
                                              </a>
                                            </span>
                                          </div>                                               
                                        </li>                                        
                                        <li>
                                          <div itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                            <span itemprop="position">7</span>
                                            <span itemprop="item" itemscope itemtype="http://schema.org/ItemList">
                                              <a href="#GTK" itemprop="url">
                                                 <span itemprop="name" id="GTK">GTK</span>
                                              </a>
                                            </span>
                                          </div>
                                        </li>
                                        
                                        <li>
                                          <div itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                            <span itemprop="position">8</span>
                                            <span itemprop="item" itemscope itemtype="http://schema.org/ItemList">
                                              <a href="#html5" itemprop="url">
                                                 <span itemprop="name" id="html5">HTML5</span>
                                              </a>
                                            </span>
                                          </div>
                                        </li>
                                    </ul>
                                    <ul class="cell -6of12 no-margin">
                                        <li>
                                          <div itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                            <span itemprop="position">9</span>
                                            <span itemprop="item" itemscope itemtype="http://schema.org/ItemList">
                                              <a href="#css3" itemprop="url">
                                                 <span itemprop="name" id="css3">CSS3</span>
                                              </a>
                                            </span>
                                          </div>
                                        </li>                                        
                                        <li>
                                          <div itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                            <span itemprop="position">10</span>
                                            <span itemprop="item" itemscope itemtype="http://schema.org/ItemList">
                                              <a href="#python" itemprop="url">
                                                 <span itemprop="name" id="python">Python</span>
                                              </a>
                                            </span>
                                          </div>
                                        </li>
                                        <li>
                                          <div itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                            <span itemprop="position">11</span>
                                            <span itemprop="item" itemscope itemtype="http://schema.org/ItemList">
                                              <a href="#Wiring" itemprop="url">
                                                 <span itemprop="name" id="Wiring">Wiring</span>
                                              </a>
                                            </span>
                                          </div>
                                        </li>
                                        <li>
                                          <div itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                            <span itemprop="position">12</span>
                                            <span itemprop="item" itemscope itemtype="http://schema.org/ItemList">
                                              <a href="#bash" itemprop="url">
                                                 <span itemprop="name" id="bash">Bourne shell</span>
                                              </a>
                                            </span>
                                          </div>
                                        </li>                                        
                                        <li>
                                          <div itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                            <span itemprop="position">13</span>
                                            <span itemprop="item" itemscope itemtype="http://schema.org/ItemList">
                                              <a href="#clang" itemprop="url">
                                                 <span itemprop="name" id="clang">C Lang</span>
                                              </a>
                                            </span>
                                          </div>
                                        </li>
                                        <li>
                                          <div itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                            <span itemprop="position">14</span>
                                            <span itemprop="item" itemscope itemtype="http://schema.org/ItemList">
                                              <a href="#cpp" itemprop="url">
                                                 <span itemprop="name" id="cpp">C++ Lang</span>
                                              </a>
                                            </span>
                                          </div>                                            
                                        </li>

                                        <li>
                                          <div itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                            <span itemprop="position">15</span>
                                            <span itemprop="item" itemscope itemtype="http://schema.org/ItemList">
                                              <a href="#electronica" itemprop="url">
                                                 <span itemprop="name" id="electronica">Electrónica</span>
                                              </a>
                                            </span>
                                          </div>
                                        </li>
                                        <li><span> Sobrevivir en Venezuela</span></li>
                                    </ul>
                                </div>
                            </div>
                          </div>                         
                </section>
                <!--Experiencia-->
                <section class="grid media" >                        
                          <div class="cell -4of12">
                            <div class="content">
                                <span>Experiencia:</span>
                            </div>
                          </div>
                          <div class="cell -12of12">
                            <div class="content alert alert-warning" >

                                <div class="media" itemscope itemtype="http://schema.org/Organization">
                                  <div class="media-left">
                                    <div class="avatarholder">W</div>
                                  </div>
                                  <div class="media-body">
                                    <div class="media-heading"><span itemprop="name">Web Development, Software Engineer </span></div>
                                    <span class="resume-subtitle">
                                        Marzo 2006 &#45; Presente | Freelancer </span>
                                    <div class="media-content">
                                        <span itemprop="description">Development of computer systems for administration and accounting, administration of UNIX systems, network administration. </span>
                                    </div>
                                  </div>
                                </div>

                                <div class="media" itemscope itemtype="http://schema.org/Organization">
                                  <div class="media-left">
                                    <div class="avatarholder">C</div>
                                  </div>
                                  <div class="media-body">
                                    <div class="media-heading"><span itemprop="name">CIX Broadband</span></div>
                                    <span class="resume-subtitle">
                                        Febrero 2016 &#45; Agosto 2016 | Software Engineer </span>
                                    <div class="media-content">
                                        <span itemprop="description">Web CRM development for workflow management. </span>
                                    </div>
                                  </div>
                                </div>
                              
                                <div class="media" itemscope itemtype="http://schema.org/Organization">
                                  <div class="media-left">
                                    <div class="avatarholder">M</div>
                                  </div>
                                  <div class="media-body">
                                    <div class="media-heading"><span itemprop="name">Mision Sucre</span></div>
                                    <span class="resume-subtitle">
                                        Enero 2010 &#45; Junio 2013 | Teacher </span>
                                    <div class="media-content">
                                        <span itemprop="description">
                                             Professor of systems engineering and computer science.
                                        </span>
                                    </div>
                                  </div>
                                </div>

                                <div class="media" itemscope itemtype="http://schema.org/Organization">
                                  <div class="media-left">
                                    <div class="avatarholder">I</div>
                                  </div>
                                  <div class="media-body">
                                    <div class="media-heading"><span itemprop="name">InterUP </span></div>
                                    <span class="resume-subtitle">
                                        Febrero 2011 &#45; Enero 2016 | System Departament Manager </span>
                                    <div class="media-content">
                                        <span itemprop="description">
                                            Deployment, development and automation of network infrastructure, administration and accounting system.
                                        </span>
                                    </div>
                                  </div>
                                </div>



                                <div class="media" itemscope itemtype="http://schema.org/Organization">
                                  <div class="media-left">
                                    <div class="avatarholder">V</div>
                                  </div>
                                  <div class="media-body">
                                    <div class="media-heading"><span itemprop="name">Electrónica Vitronic</span></div>
                                    <span class="resume-subtitle">
                                        Diciembre 2001 &#45; Enero 2007 | Senior Electronic Engineer</span>
                                    <div class="media-content">
                                        <span itemprop="description"> Repair of electronic equipment in general. </span>
                                    </div>
                                  </div>
                                </div>                                
                                
                            </div>
                          </div>
                </section>
                <!--Opiniones-->
                <section>
                    <header>
                        <h2>Opiniones</h2>
                    </header>

                    <div class="media">
                      <div class="media-left">
                        <div class="avatarholder">P</div>
                      </div>
                      <div class="media-body">
                        <div class="media-heading"> PICCORO Lenz McKAY</div>
                        <div class="media-content">Of Interesting impetus with a very varied portfolio of work.</div>
                      </div>
                    </div>

                    <div class="media">
                      <div class="media-left">
                        <div class="avatarholder">E</div>
                      </div>
                      <div class="media-body">
                        <div class="media-heading"> Ernis Sanches</div>
                        <div class="media-content">Realmente es un desarrollador destacado y con abanico flexible de aptitudes en diversos leguajes de programaciòn buscando en todo tiempo el rendimiento optimo y la funcionalidad de los sistemas desarrollados.</div>
                      </div>
                    </div>


                    <div class="media">
                      <div class="media-left">
                        <div class="avatarholder">A</div>
                      </div>
                      <div class="media-body">
                        <div class="media-heading"> Anthony Piñero</div>
                        <div class="media-content">Profesional responsable con mucho talento para los sistemas informaticos, tuve la oportunidad de trabajar con el en un desarrollo de un sistema operativo Gnu/Linux basado en Debian por nombre Venenux, el cual era un sistema operativo adaptable para el usuario final con multiples funcionalidades, lo recomiendo como profesional.</div>
                      </div>
                    </div>


                    <div class="media">
                      <div class="media-left">
                        <div class="avatarholder">M</div>
                      </div>
                      <div class="media-body">
                        <div class="media-heading"> Marcel Guzman</div>
                        <div class="media-content">An indispensable piece in any software development project.</div>
                      </div>
                    </div>


                    <div class="media">
                      <div class="media-left">
                        <div class="avatarholder">A</div>
                      </div>
                      <div class="media-body">
                        <div class="media-heading"> Angel Velasquez</div>
                        <div class="media-content">Desarrollador por naturaleza con actitud orientada al logro, persona muy habíl con alta calidad humana. Responsable, puntual y muy creativo. Son solo algunas de las caracteristicas del Maestro Victor Diex. Su trabajo en proyectos como Venenux GNU/Linux asi como en IspOS o Runtrailers certifican su calidad. Trabajar junto a él ha sido una gran experiencia para mi.</div>
                      </div>
                    </div>                                        

                                        
                </section>
            </section>
        </main>